body{
    margin: 0;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 20px;
    color: #a7a1a1;
}

.nav-item{
    font-size: 16px;
    color: #a7a1a1;
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 1.1;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    flex-shrink: 1;
}

.header,
.main{
    background-color: #1F2937;
    padding: 16px 64px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* unordered list for navigation */
#navigation-bar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

/* About section with image */
.main{
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 48px;
}

.about-description{
    display: flex;
    flex-direction: column;
    width: 40%;
    flex: auto;
}

.about-description h1{
    margin: 18px 0;
}

.about-description p{
    margin-right: 100px;
}

.about-description button{
    font-size: 18px;
    width: 10em;
    padding: 16px 32px;
    border-radius: 0.3rem;
    color: #E5E7EB;
    border: transparent;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin: 9px 0;
}

.about-description button:hover{
    background-color: #0b5ed7;
    border-color: #0b5ed7;
    cursor: pointer;
}

.about-description button:hover span{
    display: none;
}

button:hover:before{
    content: "Mooo?"
}

.main-image img{
    max-width: 100%;
    min-width: 200px;
    border-radius: 1em;
}

.body{
    display: flex;
    flex-direction: column;
}

.funny-images{
    padding: 32px 64px;
}

.title2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 20px;
    border-bottom: #dee2e6;
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.goats-container{
    display: flex;
    justify-content: space-between;
    flex: auto;
    flex-wrap: wrap;
}

.image,
.sport-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image img{
    width: 300px;
}

.sport-image img{
    width: 400px;
}

.image img,
.sport-image img{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 0.3em;
}

.sub-text{
    text-align: center;
    max-width: 100%;
    width: 300px;
    margin-bottom: 20px;
    color: #1F2937;
    font-size: 14px;
    flex: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
