html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: white;
}

.logo{
    font-size: 20px;
    color: #a7a1a1;
}

.nav-item{
    font-size: 16px;
    color: #a7a1a1;
}

.hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 1.1;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    flex-shrink: 1;
}

.header,
.main,
.footer{
    background-color: #1F2937;
    padding: 16px 5%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* unordered list for navigation */
#navigation-bar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

/* About section with image */
.main{
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 48px;
    gap: 30px;
}

.about-description{
    display: flex;
    flex-direction: column;
    width: 40%;
    flex: auto;
}

.about-description h1{
    margin: 18px 0;
}

.about-description button{
    font-size: 18px;
    width: 10em;
    padding: 16px 32px;
    border-radius: 0.3rem;
    color: #E5E7EB;
    border: transparent;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin: 9px 0;
}

.about-description button:hover{
    background-color: #0b5ed7;
    border-color: #0b5ed7;
    cursor: pointer;
}

.about-description button:hover span{
    display: none;
}

.about-description button:hover:before{
    content: "Mooo?"
}

.main-image img{
    max-width: 100%;
    min-width: 200px;
    border-radius: 1em;
}

.body{
    display: flex;
    flex-direction: column;
}

.funny-images{
    padding: 32px 5%;
}

.title2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 20px;
    border-bottom: 1px #dee2e6;
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.goats-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.sport-goats{
    align-items: center;
}

.image,
.sport-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img{
    width: 300px;
}

.sport-image img{
    width: 400px;
}

.image img,
.sport-image img{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 0.3em;
}

.sub-text{
    text-align: center;
    max-width: 100%;
    width: 300px;
    margin-bottom: 20px;
    color: #1F2937;
    font-size: 14px;
    flex: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.quote{
    display: flex;
    flex-direction: column;
    padding: 2.75em 5%;
    background-color: #E5E7EB;
    font-size: 28px;
    color: #1F2937;
}

.author{
    font-weight: 900;
    align-self: flex-end;
}

.signup{
    padding: 100px 15%;
}

.signup-box{
    display: flex;
    background-color: #3882F6;
    border-radius: 0.5em;
    padding: 40px 10%;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    gap: 15px;
    flex-wrap: wrap;
}

.messages{
    color: white;
}

.signup-box button{
    flex-shrink: 0;
    padding: 7.5px 30px;
    background-color: #3882F6;
    border-radius: 0.3em;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.signup-box button:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}

.message-text{
    font-size: 24px;
    font-weight: 700;
}

.sub-message{
    font-weight: lighter;
    font-size: 16px;
}

.footer{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#github{
    color: #3366CC;
}
